.list-group-item-fixed {
  width: auto;
}
.list-group-left {
  text-align: right;
  width: 150px;
  font-weight: bold;
  display: inline-block;
}
.list-group-right {
  text-align: left;
  width: 200px;
  display: inline-block;
}